.header-nav{
background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landingPage{
  width: 100%;
  margin: auto;

}

.landing-grid{
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  text-align: center;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  }

.avater-img{
  height: 250px;
  border-radius: 50%;
  border: solid 2px black;

}

.banner-text{
  background-color: black;
  opacity: .5;
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  display: flex;

}

@media only screen and (min-width: 768px), (min-resolution: 150dpi) {
  h1 {padding: 30px;}
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
}

/*
@media screen and (max-width: 600px) {
  .projects-grid {
    display: inline;   
  }
}
@media screen and (max-width: 1000px) {
  .projects-grid {
    display: flex;
    flex-shrink: 1;   
  }
}
*/

/*The Contact page Styling begins here*/

.contact-grid {
  text-align: center;
  justify-content: center;
  background: white;
  width: 80%;
  height: 100% ;
  color: black;
  margin-bottom: 20px;
}

.contact-me {
  background: gray;
  border-radius: 25px;
}

.contact-grid hr {
  border-top : 5px dotted black;
}

/* The Resume Page styling goes in here */

/* The styling of the Right-side of the Resume page */ 
.resume-right {
  background: #27221f;
  color: white;
  padding: 2em;
}





/* The styling of the Left-side of the Resume Page*/
.resume-left {
  width: 100%;
  justify-content: center;
}

.footer{
  width: 100%;
}
