.header-nav{
  background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landingPage{
  width: 100%;
  margin: auto;

}

.landing-grid{
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  text-align: center;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  }

.avater-img{
  height: 250px;
  padding: 5em;
}

.banner-text{
  background-color: black;
  opacity: .5;
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.projects-grid {
  display: flex;
}

/*The Contact page Styling begins here*/
.contact-body{
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2em;
  justify-content: center;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  background: white;
  width: 80%;
  height: 100% ;
  color: black;
  margin-bottom: 20px;
}

.contact-me {
  background: gray;
}

.contact-grid hr {
  border-top : 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i{
  padding-right: 5rem;
}

.footer-section {
  background: black;
}